<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<targets>
		<target name="logfile" xsi:type="File" fileName="logfile.txt" deleteOldFileOnStartup="true" layout="${message}"/>
		<target name="logconsole" xsi:type="Console" layout="${logger}, Thread: ${threadid}, ${longdate} Message ${message} ${exception:format=tostring}" />
	</targets>

	<rules>
		<logger name="RTCPPacket" minlevel="Info" writeTo="logconsole" />
		<logger name="RTPStream" minlevel="Info" writeTo="logconsole,logfile" />
		<logger name="Socket" minlevel="Info" writeTo="logconsole,logfile" />
		<logger name="VideoBroadcaster" minlevel="Debug" writeTo="logconsole,logfile" />
		<logger name="RTSPServer" minlevel="Debug" writeTo="logconsole,logfile" />
		<logger name="RTSPClientConnection" minlevel="Debug" writeTo="logconsole,logfile" />
		<logger name="RTSPClientSession" minlevel="Debug" writeTo="logconsole,logfile" />
		<logger name="H264Parser" minlevel="Info" writeTo="logconsole,logfile" />
		<logger name="H264Fragmenter" minlevel="Info" writeTo="logconsole" />
		<logger name="RTPInterface" minlevel="Info" writeTo="logconsole" />
		<logger name="RTCPInstance" minlevel="Info" writeTo="logconsole,logfile" />
		<logger name="RTPTransmissionStat" minlevel="Debug" writeTo="logconsole,logfile" />
		<logger name="MultiFramedRTPFramer" minlevel="Info" writeTo="logconsole,logfile" />
		<logger name="PiEncoder" minlevel="Info" writeTo="logconsole,logfile" />
		<logger name="PiVideoEncoder" minlevel="Info" writeTo="logconsole" />
		<logger name="Connection" minlevel="Info" writeTo="logconsole" />
		<logger name="PiCamera" minlevel="Info" writeTo="logconsole,logfile" />
		<logger name="MMalControlPort" minlevel="Info" writeTo="logconsole,logfile" />
		<logger name="MMalPort" minlevel="Info" writeTo="logconsole,logfile" />
		
	</rules>
</nlog>